@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  color: white;
  padding: 0;
  margin: 0;
}

.form,
.greeting {
  display: none;
}

.showing {
  /* active 됐을 때 */
  display: block;
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn .5s linear;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.info {
  text-align: right;
  padding: 10px;
}

.js-weather {

}

.js-city {
  
}

.js-clock {
  text-align: center;
  padding-top: 100px;
}

.clock__h,
.clock__m {
  font-size: 120px;
}

.clock__sep {
  font-size: 96px;
}

.clock__s {
  font-size: 48px;
}

.js-greeting {
  font-size: 40px;
  text-align: center;

}

.form__input {
  padding-top: 20px;
  text-align: center;
  font-size: 24px;
  background: transparent;

  outline: 0;
  border-width: 0 0 2px;
  border-color: #fff;

  color: white;
}

.form__input::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.list {
  text-align: center;
}

.js-toDoList {
  list-style:none;
}